@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  --main-font: "League Spartan", sans-serif;

  /* Primary */
  --desaturated-dark-cyan: hsl(180, 29%, 50%);

  /* Neutral */

  --white: hsl(0, 100%, 98%);
  --light-grayish-cyan--bg: hsl(180, 61%, 92%);
  --light-grayish-cyan: hsl(180, 45%, 98%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

body {
  font-size: 15px;
  font-family: var(--main-font);
}

header {
  background-image: url("/assets/img/bg-header-mobile.svg");
  background-color: var(--desaturated-dark-cyan);
  background-position: center;
  height: 15vh;
}

body {
  background-color: var(--light-grayish-cyan--bg);
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -70px
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.option {
  display: inline-block;
  background-color: var(--light-grayish-cyan--bg);
  color: var(--desaturated-dark-cyan);
  font-weight: 700;
  padding: .5em .75em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: .25em 0;
  text-transform: capitalize;
}

.option+span {
  background-color: var(--desaturated-dark-cyan);
  color: var(--white);
  font-weight: 700;
  padding: .5em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: .5em;
}

.option+span:hover {
  cursor: pointer;
  background-color: var(--very-dark-grayish-cyan);
}

button {
  border: none;
  background-color: transparent;
  font-weight: 700;
  color: var(--desaturated-dark-cyan);
  font-family: var(--main-font);
  align-self: flex-end;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

button:active {
  color: var(--dark-grayish-cyan);
}

.card, .filter-container {
  width: 75vw;
  margin: 3em auto;
  background-color: var(--light-grayish-cyan);
  padding: 1em 1.5em;
  border-radius: 5px;
  box-shadow: .5px .5px 20px var(--desaturated-dark-cyan);
}

.filter {
  display: flex;
  flex-direction: column;
}

select {
  border: none;
  background-color: transparent;
  font-family: var(--main-font);
  color: var(--desaturated-dark-cyan);
  cursor: pointer;
}

.card img {
  position: relative;
  top: -40px;
  width: 50px;
}

.card>div {
  position: relative;
  top: -30px;
}

h1 {
  display: inline-block;
  margin-right: .75em;
  margin-bottom: 1em;
  color: var(--desaturated-dark-cyan);
  font-weight: 700;
}

.new, .featured {
  margin-left: .5em;
  color: var(--white);
  text-transform: uppercase;
  padding: .25em .65em;
  border-radius: 15px;
}

.new {
  background-color: var(--desaturated-dark-cyan);
}

.featured {
  background-color: var(--very-dark-grayish-cyan);
}

.info {
  display: flex;
  justify-content:flex-start;
  border-bottom: 1px solid var(--dark-grayish-cyan);
  color: var(--dark-grayish-cyan);
  padding: .75em 0;
}

.info p {
  margin-right: .5em;
}

.more-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.more-info p {
  margin: .5em 1.5em .5em 0;
  background-color: var(--light-grayish-cyan--bg);
  color: var(--desaturated-dark-cyan);
  font-weight: 700;
  padding: .5em .75em;
  border-radius: 5px;
}

.role-featured {
  border-left: 5px solid var(--desaturated-dark-cyan);
}

@media screen and (min-width: 1024px) {
  header {
    background-image: url("/assets/img/bg-header-desktop.svg");
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85vw;
  }

  .filter-container {
    width: 85vw;
  }

  .card img, .card>div {
    position: inherit;
  }

  .card img {
    width: 60px;
    height: 60px;
    margin-right: 2.5em;
  }

  .info {
    border-bottom: none;
  }

  .more-info {
    margin-left: 5em;
  }
}